/* MODULES */
#fileEditor{
  position: relative;
  height: 100%;
  width: 100%;
}
#fileEditor .fileEditor{
  width: 100%;
  height: 100%;
}
#fileEditor .hidden{display: none;}
#fileEditor .aceEditor {
//  width: auto;
  height: 100%;
  margin: 0;
}
#fileEditor #aceEditor2 {
  position: absolute;
  width: 500px;
  height: 400px;
}