.projectMainNavigation {
  z-index: 20;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 20.6em + @navigation-left-space;
  margin-left: -20em;
  background-color: #303030;
//  box-shadow: 2px 0px 3px 3px rgba(255, 255, 255, 0.7);
  color: white;
  transition: margin 300ms;

  &.c-open{
    margin-left:0;
    transition: margin 300ms;

    .menuNavigation {
      &.infoHelp, &.projects {
        li {
          margin:0;
        }
      }
    }

    .menuToggleButton{
      transition: opacity 600ms;
      opacity: 1;
    }
  }
  &:hover{
    .menuToggleButton{
      transition: opacity 600ms;
      opacity: 1;
    }
  }
  .menuToggleButton{
    position: absolute;
    top: 0;
    right: 0;
    margin-right: -(-@header-height + @navigation-left-space);
    background-color: #303030;
    transition: opacity 1s 600ms;
    opacity: 0.5;
    padding-right: 0.2em;
    cursor: pointer;
  }

  .page-scroll {
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    top: @header-height;
    bottom: 0;
    left: 0;
    right: 0;

    &--content {
      overflow-y: scroll;
      height: 100%;
      background-color: #404040;
      box-sizing: border-box;
    }
  }

  &--header{
    width: 100%;
    height: @header-height;
    > span{
      // header in menu - font style
      font-weight: bold;
      padding: 0.7em;
      display: block;
      font-size: 1.7em;
    }
  }

  p{
    margin-top: 5px;
  }

  label{
    font-weight: bold;
    padding: 0.7em;
    display: block;
    font-size: 1.7em;
    background-color: #303030;
  }

  a {
    color: #FFF;
    line-height: 18px;
  }
  ul{
    padding: 0;
    margin: 0;
  }

  .menuNavigation {

    &.language {
      li {
        background-color: rgba(0, 110, 60, 0.2);

        .langName{
          margin-right: 10px;
        }
      }
    }
    &.infoHelp, &.projects {
      li {
        background-color: rgba(100, 150,200, 0.2);
        margin: 0 3em 0 0
      }
    }
    li {
      padding:0;
      a {
        position: absolute;
        width: 100%;
        display: block;
        text-decoration: none;
        box-sizing: border-box;
        height: 100%;
        padding: .5em 0 .5em .5em;
        top:0;
        left:0;
      }
      background-color: rgba(150, 150,100, 0.2);
    }
    ul:last-child li:last-child{
      border-bottom: 1px solid black;
    }
    li {
      position: relative;
      min-height: 2.2em;
      box-sizing: border-box;
      cursor: pointer;
      text-decoration: none;
      font-size: 1.5em;
      padding: .5em 0 .5em .5em;
      border-top: 1px solid black;
      box-shadow: 0px 1px 2px 0px rgba(250, 250, 250, 0.2) inset;
      position: relative;
      overflow: hidden;
      text-overflow: ellipsis;

      &:active {
        box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.1) inset, 0px 1px 2px 1px rgba(0, 0, 0, 0.8) inset;
      }
      &:last-child {

      }
      .icon {
        position: absolute;
        right: 0px;
        font-size: 1.5em;
        top: 50%;
        margin-top: -4.5%;
        line-height: 1em;
        display: inline-block;
        width: 1.833333em;
        text-align: center;
      }
      .flag-icon {
          position: absolute;
          right: 5px;
          font-size: 1.6em;
          top: 50%;
          margin-top: -5.2%;
          line-height: 1em;
          display: inline-block;
          width: 1.33333333em;
        &:after {
          display: block;
          text-align: center;
          width: 100%;
          background-color: rgba(0, 0, 0, 0.7);
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          content: '';
        }
        &:before {
          z-index: 1;
          position: relative;
        }
      }
      .icon{
        &.plus:after {
          content: '+';
        }
        &.info:after {
          content: '!';
        }
        &.question:after {
          content: '?';
        }
      }
      &.c-active {
        .flag-icon:after {
          display: none;
        }
        .flag-icon:before {
          content: "\00a0";
        }
        &.c-inactive {
          .flag-icon:after, {
            display: block;
            content: "\00a0";
          }
        }
      }
    }
  }
  .switchLink{margin-bottom: 20px;}
  .clear{clear: both;}
}

