.translationView,
.translationViewHeader.header{
  @import "languageHideShow";
}
.translationView {

  #resourceBundleTable {
    margin-bottom: 70px;
  }
  #titleText,
  #titleTextTranslation,
  .textField {
    height: 40px;
  }
  .textField {
    width: 100%;
  }
  .sendSuccess {
    background-color: #7cfc00;
  }
  .updateKey {
    background-color: #ffff00;
  }
  #titleKey,
  .keyField {
    width: 300px;
  }
  .header {
    font-size: 14px;
    font-weight: bold;
  }
  .header,
  #tableBody > div {
    display: table;
    width: 100%;
  }
  #tableBody > div {
    position: relative;
    padding-bottom: 60px;
  }
  #tableBody .addNewKeyrow {
    position: absolute;
    bottom: 15px;
    left: 10px;
  }
  #tableBody .addNewKeyrow {
    cursor: pointer;
  }
  #tableBody .addNewKeyrow input {
    padding: 0 5px;
    margin-right: 20px;
  }
  #tableBody > div:nth-child(even) {
    background-color: rgba(49, 134, 0, 0.6);
  }
  #tableBody h2 {
    border-bottom: 1px solid #303030;
  }
  .header .row,
  .row {
    display: table-row;
  }
  .header .row > div,
  .row > div {
    display: table-cell;
    padding: 5px;
    vertical-align: middle;
  }
  .row .data.key {
    width: 300px;
  }
  .row:nth-child(odd) {
    background-color: rgba(211, 211, 211, 0.5);
  }
}