.translationView,
.translationViewHeader.header{
  @import "languageHideShow";
}
.translationView {

  // styles for the overlay input fields
  &-projectCategory{
    font-size: 150%;
    width: 100%;
    max-width: 22em;
    padding: 2em;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 0 6px 2px rgba(100,0,0,1) inset;
    .inputWrap{
      width: 70%;
      position: relative;
      padding-left: 1.4em;
      box-sizing: border-box;
      font-size: 1em;
      margin: auto;
      display: table;

      &:before{
        position: absolute;
        top: 0.3em;
        left: 0;
      }
    }
    h2{
      font-size: 2em;
      font-weight: bold;
      position: absolute;
      margin-top: -2.6em;
      color: white;
      text-shadow: 0 0 5px #000;
    }
    p {
      padding: 2em 0 0 0;
      font-style: italic;
      color: #666;
    }
    label {
      margin: 0 0 0.4em 0;
      display: block;
    }
    input{
      margin: 0 0 1em auto;
    }
    .inputField {
      font-size: 1em;
      background-color: #f7f7f7;
      border: 2px solid #a6a6a6;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      -webkit-background-clip: padding-box;
      -moz-background-clip: padding;
      background-clip: padding-box;
      -webkit-box-shadow: inset 0px 0px 5px 0px #c8c8c8;
      -moz-box-shadow: inset 0px 0px 5px 0px #c8c8c8;
      box-shadow: inset 0px 0px 5px 0px #c8c8c8;
      box-sizing: border-box;
      color: #565656;
      display: block;
      line-height: 1.4em;
      width: 100%;
      padding-left: 16px;
    }
    .button {
      font-size: 1em;
      min-height: 40px;
      padding: 0.4em 0;
      color: #FFF;
      text-align: center;
      cursor: pointer;
      box-sizing: border-box;
      border: none;
      outline: none;
      font-weight: bold;
      font-family: inherit;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
      -webkit-background-clip: padding-box;
      -moz-background-clip: padding;
      background-clip: padding-box;

      -o-text-shadow: 0 1px 1px #464d52;
      -moz-text-shadow: 0 1px 1px #464d52;
      -webkit-text-shadow: 0 1px 1px #464d52;
      text-shadow: 0 1px 1px #464d52;
      background: #a2a8ad;
      background: -webkit-gradient(linear, 0 0, 0 bottom, from(#a2a8ad), to(#82888d));
      background: -webkit-linear-gradient(#a2a8ad, #82888d);
      background: -moz-linear-gradient(#a2a8ad, #82888d);
      background: -ms-linear-gradient(#a2a8ad, #82888d);
      background: -o-linear-gradient(#a2a8ad, #82888d);
      background: linear-gradient(#a2a8ad, #82888d);
      -webkit-box-shadow: 0px -2px 0px 0px #636a70 inset;
      -moz-box-shadow: 0px -2px 0px 0px #636a70 inset;
      box-shadow: 0px -2px 0px 0px #636a70 inset;

      margin: 0.3em auto 0;
      width: 70%;
    }
  }

  #resourceBundleTable {
    margin-bottom: 70px;
  }
  #titleText,
  #titleTextTranslation,
  .textField {
    height: 40px;
  }
  .textField {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
    background-color: rgba(255,255,255,0.8);
    padding: 0;
  }
  .sendSuccess {
    background-color: #7cfc00;
  }
  .updateKey {
    background-color: #ffff00;
  }
  .keyField {
    width: 100%;
  }
  .header {
    font-size: 14px;
    font-weight: bold;
  }
  .header,
  #tableBody > div {
    display: table;
    width: 100%;
  }
  #tableBody > div {
    position: relative;
    padding-bottom: 60px;
  }
  #tableBody .addNewKeyrow {
    position: absolute;
    bottom: 15px;
    left: 10px;
  }
  #tableBody .addNewKeyrow {
    cursor: pointer;
  }
  #tableBody .addNewKeyrow input {
    padding: 0 5px;
    margin-right: 20px;
  }
  #tableBody > div:nth-child(even) {
    background-color: rgba(49, 134, 0, 0.6);
  }
  #tableBody h2 {
    border-bottom: 1px solid #303030;
    font-size: 2em;
    padding: 0.4em 0 0.1em 1.5em;
    &.icon{
      position: relative;
    }
    &:before{
      position: absolute;
      left: 0.3em;
    }
  }
  .header .row,
  .row {
    display: table-row;
  }
  .header .row > div,
  .row > div {
    display: table-cell;
    padding: .5em 0;
    vertical-align: middle;
    position: relative;
  }
  .content .row > div {
    padding: .5em;
    .flag-icon {
      position: absolute;
      width: 3.3em;
      height: 2.1em;
      bottom: .6em;
      left: .6em;
      background-size: cover;
      background-position: 100%;
      opacity: 1;
    }
  }
  .row .data.key {
//    width: 300px;
  }
  .row:nth-child(odd) {
    background-color: rgba(211, 211, 211, 0.5);
  }
}