/nbproject/
*.properties
*.*~
*.iml

lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.iml

pids
logs
results

npm-debug.log
node_modules
coverage

.idea

*priv*

static/
dist/js/translatron.*.tmp*
dist/js/translatron-login.*.tmp*