a {
    text-decoration: underline;
    color: blue;
}

#frontend {
    display: none;
}

table .textField {
    width: 400px;
    height: 40px;
}

.sendSuccess {
    background-color: #7cfc00;
}
.updateKey {
    background-color: #ffff00;
}
.keyField {
    width:400px;
}
table tr:nth-child(odd) {
    background-color: #d3d3d3;
}
table tr td {
    padding: 5px;
}