html {
  background: #dce4ea;
}
body {
  font-family: sans-serif;
  font-size: 80%;
  padding-top: 4.2em;
  padding-left: 4em;
}
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: inherit;
  vertical-align: baseline;
  font-weight: inherit;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  text-decoration: underline;
  color: blue;
}
body ::-webkit-scrollbar {
  width: 7px;
}
body ::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(100, 100, 100, 0.3);
  border-radius: 0px;
  background-color: #131313;
}
body ::-webkit-scrollbar-thumb {
  border-radius: 2px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  background-color: #424242;
}
body.invert ::-webkit-scrollbar-track {
  background-color: #424242;
}
body.invert ::-webkit-scrollbar-thumb {
  background-color: #131313;
}
header.header {
  height: 4.2em;
  padding-left: 4.2em;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #303030;
  z-index: 20;
  color: white;
}
header.header .beforeText {
  margin: .5em 1em 0 1em;
  position: relative;
  display: block;
  float: left;
}
header.header .projectName {
  line-height: 4.2em;
  font-weight: bold;
}
header.header .projectName > span {
  font-size: 4.2em;
}
#fileManager .switchLink {
  display: block;
}
.floatL {
  float: left;
}
.projectMainNavigation {
  z-index: 20;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 24.6em;
  margin-left: -20em;
  background-color: #303030;
  color: white;
  transition: margin 300ms;
}
.projectMainNavigation.c-open {
  margin-left: 0;
  transition: margin 300ms;
}
.projectMainNavigation.c-open .menuNavigation.infoHelp li,
.projectMainNavigation.c-open .menuNavigation.projects li {
  margin: 0;
}
.projectMainNavigation.c-open .menuToggleButton {
  transition: opacity 600ms;
  opacity: 1;
}
.projectMainNavigation:hover .menuToggleButton {
  transition: opacity 600ms;
  opacity: 1;
}
.projectMainNavigation .menuToggleButton {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 0.2em;
  background-color: #303030;
  transition: opacity 1s 600ms;
  opacity: 0.5;
  padding-right: 0.2em;
  cursor: pointer;
}
.projectMainNavigation .page-scroll {
  position: absolute;
  width: 100%;
  box-sizing: border-box;
  top: 4.2em;
  bottom: 0;
  left: 0;
  right: 0;
}
.projectMainNavigation .page-scroll--content {
  overflow-y: scroll;
  height: 100%;
  background-color: #404040;
  box-sizing: border-box;
}
.projectMainNavigation--header {
  width: 100%;
  height: 4.2em;
}
.projectMainNavigation--header > span {
  font-weight: bold;
  padding: 0.7em;
  display: block;
  font-size: 1.7em;
}
.projectMainNavigation p {
  margin-top: 5px;
}
.projectMainNavigation label {
  font-weight: bold;
  padding: 0.7em;
  display: block;
  font-size: 1.7em;
  background-color: #303030;
}
.projectMainNavigation a {
  color: #FFF;
  line-height: 18px;
}
.projectMainNavigation ul {
  padding: 0;
  margin: 0;
}
.projectMainNavigation .menuNavigation.language li {
  background-color: rgba(0, 110, 60, 0.2);
}
.projectMainNavigation .menuNavigation.infoHelp li,
.projectMainNavigation .menuNavigation.projects li {
  background-color: rgba(100, 150, 200, 0.2);
  margin: 0 3em 0 0;
}
.projectMainNavigation .menuNavigation li {
  padding: 0;
  background-color: rgba(150, 150, 100, 0.2);
}
.projectMainNavigation .menuNavigation li a {
  position: absolute;
  width: 100%;
  display: block;
  text-decoration: none;
  box-sizing: border-box;
  height: 100%;
  padding: .5em 0 .5em .5em;
  top: 0;
  left: 0;
}
.projectMainNavigation .menuNavigation ul:last-child li:last-child {
  border-bottom: 1px solid black;
}
.projectMainNavigation .menuNavigation li {
  min-height: 2.2em;
  box-sizing: border-box;
  cursor: pointer;
  text-decoration: none;
  font-size: 1.5em;
  padding: .5em 0 .5em .5em;
  border-top: 1px solid black;
  box-shadow: 0px 1px 2px 0px rgba(250, 250, 250, 0.2) inset;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
}
.projectMainNavigation .menuNavigation li:active {
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.1) inset, 0px 1px 2px 1px rgba(0, 0, 0, 0.8) inset;
}
.projectMainNavigation .menuNavigation li .icon {
  position: absolute;
  right: 0px;
  font-size: 1.5em;
  top: 50%;
  margin-top: -4.5%;
  line-height: 1em;
  display: inline-block;
  width: 1.833333em;
  text-align: center;
}
.projectMainNavigation .menuNavigation li .flag-icon {
  position: absolute;
  right: 5px;
  font-size: 1.6em;
  top: 50%;
  margin-top: -5.2%;
  line-height: 1em;
  display: inline-block;
  width: 1.33333333em;
}
.projectMainNavigation .menuNavigation li .flag-icon:after {
  display: block;
  text-align: center;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}
.projectMainNavigation .menuNavigation li .flag-icon:before {
  z-index: 1;
  position: relative;
}
.projectMainNavigation .menuNavigation li .icon.plus:after {
  content: '+';
}
.projectMainNavigation .menuNavigation li .icon.info:after {
  content: '!';
}
.projectMainNavigation .menuNavigation li .icon.question:after {
  content: '?';
}
.projectMainNavigation .menuNavigation li.c-active .flag-icon:after {
  display: none;
}
.projectMainNavigation .menuNavigation li.c-active .flag-icon:before {
  content: "\00a0";
}
.projectMainNavigation .menuNavigation li.c-active.c-inactive .flag-icon:after {
  display: block;
  content: "\00a0";
}
.projectMainNavigation .switchLink {
  margin-bottom: 20px;
}
.projectMainNavigation .clear {
  clear: both;
}
.initialView .sun {
  height: 0;
  border-radius: 50px;
  margin: 12% 0 0 0;
  position: relative;
  display: block;
  width: 100%;
}
.initialView .sun .wrap {
  position: relative;
  width: 1px;
  height: 1px;
  margin: 10% auto;
  top: 150px;
  left: -2em;
  font-size: 3em;
}
.initialView .sun .wrap .projectName {
  cursor: pointer;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 0.5em;
  height: 3em;
  width: 3em;
  line-height: 3em;
  box-shadow: 0 0 1px 2px #00ff00;
  border-radius: 100%;
  position: absolute;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  text-align: center;
}
.initialView .sun .wrap .ownProject {
  background-color: rgba(255, 255, 255, 0.8);
  line-height: 0.7em;
}
.initialView .sun .wrap .ownProject span {
  font-size: 50%;
}
.translationView .c-hide_de .js_de,
.translationViewHeader.header .c-hide_de .js_de {
  display: none;
}
.translationView .c-hide_fr .js_fr,
.translationViewHeader.header .c-hide_fr .js_fr {
  display: none;
}
.translationView .c-hide_da .js_da,
.translationViewHeader.header .c-hide_da .js_da {
  display: none;
}
.translationView .c-hide_nl .js_nl,
.translationViewHeader.header .c-hide_nl .js_nl {
  display: none;
}
.translationView .c-hide_en .js_en,
.translationViewHeader.header .c-hide_en .js_en {
  display: none;
}
.translationView .c-hide_en_GB .js_en_GB,
.translationViewHeader.header .c-hide_en_GB .js_en_GB {
  display: none;
}
.translationView .c-hide_sv .js_sv,
.translationViewHeader.header .c-hide_sv .js_sv {
  display: none;
}
.translationView .c-hide_es .js_es,
.translationViewHeader.header .c-hide_es .js_es {
  display: none;
}
.translationView #resourceBundleTable {
  margin-bottom: 70px;
}
.translationView #titleText,
.translationView #titleTextTranslation,
.translationView .textField {
  height: 40px;
}
.translationView .textField {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 0;
}
.translationView .sendSuccess {
  background-color: #7cfc00;
}
.translationView .updateKey {
  background-color: #ffff00;
}
.translationView .keyField {
  width: 100%;
}
.translationView .header {
  font-size: 14px;
  font-weight: bold;
}
.translationView .header,
.translationView #tableBody > div {
  display: table;
  width: 100%;
}
.translationView #tableBody > div {
  position: relative;
  padding-bottom: 60px;
}
.translationView #tableBody .addNewKeyrow {
  position: absolute;
  bottom: 15px;
  left: 10px;
}
.translationView #tableBody .addNewKeyrow {
  cursor: pointer;
}
.translationView #tableBody .addNewKeyrow input {
  padding: 0 5px;
  margin-right: 20px;
}
.translationView #tableBody > div:nth-child(even) {
  background-color: rgba(49, 134, 0, 0.6);
}
.translationView #tableBody h2 {
  border-bottom: 1px solid #303030;
  font-size: 2em;
  padding: 0.4em 0 0.1em 1.5em;
}
.translationView #tableBody h2.icon {
  position: relative;
}
.translationView #tableBody h2:before {
  position: absolute;
  left: 0.3em;
}
.translationView .header .row,
.translationView .row {
  display: table-row;
}
.translationView .header .row > div,
.translationView .row > div {
  display: table-cell;
  padding: .5em 0;
  vertical-align: middle;
  position: relative;
}
.translationView .content .row > div {
  padding: .5em;
}
.translationView .content .row > div .flag-icon {
  position: absolute;
  width: 3.3em;
  height: 2.1em;
  bottom: .6em;
  left: .6em;
  background-size: cover;
  background-position: 100%;
  opacity: 1;
}
.translationView .row:nth-child(odd) {
  background-color: rgba(211, 211, 211, 0.5);
}
/* MODULES */
#fileEditor {
  position: relative;
}
#fileEditor .hidden {
  display: none;
}
#fileEditor .aceEditor {
  width: 880px;
  height: 750px;
  margin: 0;
}
#fileEditor #aceEditor2 {
  position: absolute;
  width: 500px;
  height: 400px;
}
#imageViewer {
  display: inline-block;
}
#imageViewer .hidden {
  display: none;
}
#pathMenu {
  width: 302px;
  min-height: 200px;
}
#pathMenu #pathNavigation {
  position: relative;
  width: 300px;
}
#pathMenu #pathNavigation a {
  min-width: 100px;
  display: inline-block;
  cursor: pointer;
}
#pathMenu #pathNavigation li {
  display: none;
}
#pathMenu #pathNavigation.openDir > li,
#pathMenu #pathNavigation .openDir > li {
  display: list-item;
}
#pathMenu #pathNavigation li.openDir > a {
  text-decoration: underline;
}
#pathMenu #pathNavigation .showLoading:before {
  width: 10px;
  height: 10px;
  position: absolute;
  background-color: darkcyan;
  content: ' ';
  left: 3px;
  display: block;
  margin-top: -15px;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 500ms linear;
}
#pathMenu #pathNavigation .loading.showLoading:before {
  opacity: 1;
}
#pathMenu #pathNavigation li > li {
  margin-left: 20px;
}
#tabManager {
  display: table;
  position: relative;
  width: 700px;
}
#tabManager .tab {
  float: left;
  display: table;
  background-color: #646161;
  color: white;
}
#tabManager .tab.active {
  background-color: #aeabab;
  color: black;
}
#tabManager .tab .activeButton {
  position: relative;
  padding: 2px 20px;
  float: left;
  max-width: 100px;
  height: 20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#tabManager .tab .activeButton:hover {
  cursor: pointer;
}
#tabManager .tab .closeButton {
  width: 20px;
  height: 24px;
  background-color: rgba(255, 0, 0, 0.4);
  float: left;
  position: relative;
}
#tabManager .tab .closeButton:before {
  position: absolute;
  height: 20px;
  width: 18px;
  content: 'x';
  top: 1px;
  left: 6px;
}
#tabManager .tab .closeButton:hover {
  cursor: crosshair;
}
.translationViewHeader .flag-icon {
  margin-right: 1em;
}
.flag-icon {
  position: relative;
  display: inline-block;
  width: 1.33333333em;
  line-height: 1em;
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
}
.flag-icon:before {
  content: "\00a0";
}
.flag-icon.flag-icon-squared {
  width: 1em;
}
.flag-icon-background {
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
}
.flag-icon-at {
  background-image: url(../flags/flags/4x3/at.svg);
}
.flag-icon-at.flag-icon-squared {
  background-image: url(../flags/flags/1x1/at.svg);
}
.flag-icon-ch {
  background-image: url(../flags/flags/4x3/ch.svg);
}
.flag-icon-ch.flag-icon-squared {
  background-image: url(../flags/flags/1x1/ch.svg);
}
.flag-icon-de {
  background-image: url(../flags/flags/4x3/de.svg);
}
.flag-icon-de.flag-icon-squared {
  background-image: url(../flags/flags/1x1/de.svg);
}
.flag-icon-dk {
  background-image: url(../flags/flags/4x3/dk.svg);
}
.flag-icon-dk.flag-icon-squared {
  background-image: url(../flags/flags/1x1/dk.svg);
}
.flag-icon-es {
  background-image: url(../flags/flags/4x3/es.svg);
}
.flag-icon-es.flag-icon-squared {
  background-image: url(../flags/flags/1x1/es.svg);
}
.flag-icon-fr {
  background-image: url(../flags/flags/4x3/fr.svg);
}
.flag-icon-fr.flag-icon-squared {
  background-image: url(../flags/flags/1x1/fr.svg);
}
.flag-icon-gb {
  background-image: url(../flags/flags/4x3/gb.svg);
}
.flag-icon-gb.flag-icon-squared {
  background-image: url(../flags/flags/1x1/gb.svg);
}
.flag-icon-gd {
  background-image: url(../flags/flags/4x3/gd.svg);
}
.flag-icon-gd.flag-icon-squared {
  background-image: url(../flags/flags/1x1/gd.svg);
}
.flag-icon-nl {
  background-image: url(../flags/flags/4x3/nl.svg);
}
.flag-icon-nl.flag-icon-squared {
  background-image: url(../flags/flags/1x1/nl.svg);
}
.flag-icon-se {
  background-image: url(../flags/flags/4x3/se.svg);
}
.flag-icon-se.flag-icon-squared {
  background-image: url(../flags/flags/1x1/se.svg);
}
.flag-icon-sv {
  background-image: url(../flags/flags/4x3/sv.svg);
}
.flag-icon-sv.flag-icon-squared {
  background-image: url(../flags/flags/1x1/sv.svg);
}
.flag-icon-us {
  background-image: url(../flags/flags/4x3/us.svg);
}
.flag-icon-us.flag-icon-squared {
  background-image: url(../flags/flags/1x1/us.svg);
}
@font-face {
  font-family: 'octicons';
  src: url('../octicons/octicons.eot?#iefix&v=a594b5fd4cae0b2afd156bca8dad8d27ac3d7594') format('embedded-opentype'), url('../octicons/octicons.woff?v=a594b5fd4cae0b2afd156bca8dad8d27ac3d7594') format('woff'), url('../octicons/octicons.ttf?v=a594b5fd4cae0b2afd156bca8dad8d27ac3d7594') format('truetype'), url('../octicons/octicons.svg?v=a594b5fd4cae0b2afd156bca8dad8d27ac3d7594#octicons') format('svg');
  font-weight: normal;
  font-style: normal;
}
.octicon,
.mega-octicon {
  font: normal normal normal 16px/1 octicons;
  display: inline-block;
  text-decoration: none;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.mega-octicon {
  font-size: 32px;
}
.octicon-alert:before {
  content: '\f02d';
}
/*  */
.octicon-alignment-align:before {
  content: '\f08a';
}
/*  */
.octicon-alignment-aligned-to:before {
  content: '\f08e';
}
/*  */
.octicon-alignment-unalign:before {
  content: '\f08b';
}
/*  */
.octicon-arrow-down:before {
  content: '\f03f';
}
/*  */
.octicon-arrow-left:before {
  content: '\f040';
}
/*  */
.octicon-arrow-right:before {
  content: '\f03e';
}
/*  */
.octicon-arrow-small-down:before {
  content: '\f0a0';
}
/*  */
.octicon-arrow-small-left:before {
  content: '\f0a1';
}
/*  */
.octicon-arrow-small-right:before {
  content: '\f071';
}
/*  */
.octicon-arrow-small-up:before {
  content: '\f09f';
}
/*  */
.octicon-arrow-up:before {
  content: '\f03d';
}
/*  */
.octicon-beer:before {
  content: '\f069';
}
/*  */
.octicon-book:before {
  content: '\f007';
}
/*  */
.octicon-bookmark:before {
  content: '\f07b';
}
/*  */
.octicon-briefcase:before {
  content: '\f0d3';
}
/*  */
.octicon-broadcast:before {
  content: '\f048';
}
/*  */
.octicon-browser:before {
  content: '\f0c5';
}
/*  */
.octicon-bug:before {
  content: '\f091';
}
/*  */
.octicon-calendar:before {
  content: '\f068';
}
/*  */
.octicon-check:before {
  content: '\f03a';
}
/*  */
.octicon-checklist:before {
  content: '\f076';
}
/*  */
.octicon-chevron-down:before {
  content: '\f0a3';
}
/*  */
.octicon-chevron-left:before {
  content: '\f0a4';
}
/*  */
.octicon-chevron-right:before {
  content: '\f078';
}
/*  */
.octicon-chevron-up:before {
  content: '\f0a2';
}
/*  */
.octicon-circle-slash:before {
  content: '\f084';
}
/*  */
.octicon-circuit-board:before {
  content: '\f0d6';
}
/*  */
.octicon-clippy:before {
  content: '\f035';
}
/*  */
.octicon-clock:before {
  content: '\f046';
}
/*  */
.octicon-cloud-download:before {
  content: '\f00b';
}
/*  */
.octicon-cloud-upload:before {
  content: '\f00c';
}
/*  */
.octicon-code:before {
  content: '\f05f';
}
/*  */
.octicon-color-mode:before {
  content: '\f065';
}
/*  */
.octicon-comment-add:before,
.octicon-comment:before {
  content: '\f02b';
}
/*  */
.octicon-comment-discussion:before {
  content: '\f04f';
}
/*  */
.octicon-credit-card:before {
  content: '\f045';
}
/*  */
.octicon-dash:before {
  content: '\f0ca';
}
/*  */
.octicon-dashboard:before {
  content: '\f07d';
}
/*  */
.octicon-database:before {
  content: '\f096';
}
/*  */
.octicon-device-camera:before {
  content: '\f056';
}
/*  */
.octicon-device-camera-video:before {
  content: '\f057';
}
/*  */
.octicon-device-desktop:before {
  content: '\f27c';
}
/*  */
.octicon-device-mobile:before {
  content: '\f038';
}
/*  */
.octicon-diff:before {
  content: '\f04d';
}
/*  */
.octicon-diff-added:before {
  content: '\f06b';
}
/*  */
.octicon-diff-ignored:before {
  content: '\f099';
}
/*  */
.octicon-diff-modified:before {
  content: '\f06d';
}
/*  */
.octicon-diff-removed:before {
  content: '\f06c';
}
/*  */
.octicon-diff-renamed:before {
  content: '\f06e';
}
/*  */
.octicon-ellipsis:before {
  content: '\f09a';
}
/*  */
.octicon-eye-unwatch:before,
.octicon-eye-watch:before,
.octicon-eye:before {
  content: '\f04e';
}
/*  */
.octicon-file-binary:before {
  content: '\f094';
}
/*  */
.octicon-file-code:before {
  content: '\f010';
}
/*  */
.octicon-file-directory:before {
  content: '\f016';
}
/*  */
.octicon-file-media:before {
  content: '\f012';
}
/*  */
.octicon-file-pdf:before {
  content: '\f014';
}
/*  */
.octicon-file-submodule:before {
  content: '\f017';
}
/*  */
.octicon-file-symlink-directory:before {
  content: '\f0b1';
}
/*  */
.octicon-file-symlink-file:before {
  content: '\f0b0';
}
/*  */
.octicon-file-text:before {
  content: '\f011';
}
/*  */
.octicon-file-zip:before {
  content: '\f013';
}
/*  */
.octicon-flame:before {
  content: '\f0d2';
}
/*  */
.octicon-fold:before {
  content: '\f0cc';
}
/*  */
.octicon-gear:before {
  content: '\f02f';
}
/*  */
.octicon-gift:before {
  content: '\f042';
}
/*  */
.octicon-gist:before {
  content: '\f00e';
}
/*  */
.octicon-gist-secret:before {
  content: '\f08c';
}
/*  */
.octicon-git-branch-create:before,
.octicon-git-branch-delete:before,
.octicon-git-branch:before {
  content: '\f020';
}
/*  */
.octicon-git-commit:before {
  content: '\f01f';
}
/*  */
.octicon-git-compare:before {
  content: '\f0ac';
}
/*  */
.octicon-git-merge:before {
  content: '\f023';
}
/*  */
.octicon-git-pull-request-abandoned:before,
.octicon-git-pull-request:before {
  content: '\f009';
}
/*  */
.octicon-globe:before {
  content: '\f0b6';
}
/*  */
.octicon-graph:before {
  content: '\f043';
}
/*  */
.octicon-heart:before {
  content: '\2665';
}
/* ♥ */
.octicon-history:before {
  content: '\f07e';
}
/*  */
.octicon-home:before {
  content: '\f08d';
}
/*  */
.octicon-horizontal-rule:before {
  content: '\f070';
}
/*  */
.octicon-hourglass:before {
  content: '\f09e';
}
/*  */
.octicon-hubot:before {
  content: '\f09d';
}
/*  */
.octicon-inbox:before {
  content: '\f0cf';
}
/*  */
.octicon-info:before {
  content: '\f059';
}
/*  */
.octicon-issue-closed:before {
  content: '\f028';
}
/*  */
.octicon-issue-opened:before {
  content: '\f026';
}
/*  */
.octicon-issue-reopened:before {
  content: '\f027';
}
/*  */
.octicon-jersey:before {
  content: '\f019';
}
/*  */
.octicon-jump-down:before {
  content: '\f072';
}
/*  */
.octicon-jump-left:before {
  content: '\f0a5';
}
/*  */
.octicon-jump-right:before {
  content: '\f0a6';
}
/*  */
.octicon-jump-up:before {
  content: '\f073';
}
/*  */
.octicon-key:before {
  content: '\f049';
}
/*  */
.octicon-keyboard:before {
  content: '\f00d';
}
/*  */
.octicon-law:before {
  content: '\f0d8';
}
/*  */
.octicon-light-bulb:before {
  content: '\f000';
}
/*  */
.octicon-link:before {
  content: '\f05c';
}
/*  */
.octicon-link-external:before {
  content: '\f07f';
}
/*  */
.octicon-list-ordered:before {
  content: '\f062';
}
/*  */
.octicon-list-unordered:before {
  content: '\f061';
}
/*  */
.octicon-location:before {
  content: '\f060';
}
/*  */
.octicon-gist-private:before,
.octicon-mirror-private:before,
.octicon-git-fork-private:before,
.octicon-lock:before {
  content: '\f06a';
}
/*  */
.octicon-logo-github:before {
  content: '\f092';
}
/*  */
.octicon-mail:before {
  content: '\f03b';
}
/*  */
.octicon-mail-read:before {
  content: '\f03c';
}
/*  */
.octicon-mail-reply:before {
  content: '\f051';
}
/*  */
.octicon-mark-github:before {
  content: '\f00a';
}
/*  */
.octicon-markdown:before {
  content: '\f0c9';
}
/*  */
.octicon-megaphone:before {
  content: '\f077';
}
/*  */
.octicon-mention:before {
  content: '\f0be';
}
/*  */
.octicon-microscope:before {
  content: '\f089';
}
/*  */
.octicon-milestone:before {
  content: '\f075';
}
/*  */
.octicon-mirror-public:before,
.octicon-mirror:before {
  content: '\f024';
}
/*  */
.octicon-mortar-board:before {
  content: '\f0d7';
}
/*  */
.octicon-move-down:before {
  content: '\f0a8';
}
/*  */
.octicon-move-left:before {
  content: '\f074';
}
/*  */
.octicon-move-right:before {
  content: '\f0a9';
}
/*  */
.octicon-move-up:before {
  content: '\f0a7';
}
/*  */
.octicon-mute:before {
  content: '\f080';
}
/*  */
.octicon-no-newline:before {
  content: '\f09c';
}
/*  */
.octicon-octoface:before {
  content: '\f008';
}
/*  */
.octicon-organization:before {
  content: '\f037';
}
/*  */
.octicon-package:before {
  content: '\f0c4';
}
/*  */
.octicon-paintcan:before {
  content: '\f0d1';
}
/*  */
.octicon-pencil:before {
  content: '\f058';
}
/*  */
.octicon-person-add:before,
.octicon-person-follow:before,
.octicon-person:before {
  content: '\f018';
}
/*  */
.octicon-pin:before {
  content: '\f041';
}
/*  */
.octicon-playback-fast-forward:before {
  content: '\f0bd';
}
/*  */
.octicon-playback-pause:before {
  content: '\f0bb';
}
/*  */
.octicon-playback-play:before {
  content: '\f0bf';
}
/*  */
.octicon-playback-rewind:before {
  content: '\f0bc';
}
/*  */
.octicon-plug:before {
  content: '\f0d4';
}
/*  */
.octicon-repo-create:before,
.octicon-gist-new:before,
.octicon-file-directory-create:before,
.octicon-file-add:before,
.octicon-plus:before {
  content: '\f05d';
}
/*  */
.octicon-podium:before {
  content: '\f0af';
}
/*  */
.octicon-primitive-dot:before {
  content: '\f052';
}
/*  */
.octicon-primitive-square:before {
  content: '\f053';
}
/*  */
.octicon-pulse:before {
  content: '\f085';
}
/*  */
.octicon-puzzle:before {
  content: '\f0c0';
}
/*  */
.octicon-question:before {
  content: '\f02c';
}
/*  */
.octicon-quote:before {
  content: '\f063';
}
/*  */
.octicon-radio-tower:before {
  content: '\f030';
}
/*  */
.octicon-repo-delete:before,
.octicon-repo:before {
  content: '\f001';
}
/*  */
.octicon-repo-clone:before {
  content: '\f04c';
}
/*  */
.octicon-repo-force-push:before {
  content: '\f04a';
}
/*  */
.octicon-gist-fork:before,
.octicon-repo-forked:before {
  content: '\f002';
}
/*  */
.octicon-repo-pull:before {
  content: '\f006';
}
/*  */
.octicon-repo-push:before {
  content: '\f005';
}
/*  */
.octicon-rocket:before {
  content: '\f033';
}
/*  */
.octicon-rss:before {
  content: '\f034';
}
/*  */
.octicon-ruby:before {
  content: '\f047';
}
/*  */
.octicon-screen-full:before {
  content: '\f066';
}
/*  */
.octicon-screen-normal:before {
  content: '\f067';
}
/*  */
.octicon-search-save:before,
.octicon-search:before {
  content: '\f02e';
}
/*  */
.octicon-server:before {
  content: '\f097';
}
/*  */
.octicon-settings:before {
  content: '\f07c';
}
/*  */
.octicon-log-in:before,
.octicon-sign-in:before {
  content: '\f036';
}
/*  */
.octicon-log-out:before,
.octicon-sign-out:before {
  content: '\f032';
}
/*  */
.octicon-split:before {
  content: '\f0c6';
}
/*  */
.octicon-squirrel:before {
  content: '\f0b2';
}
/*  */
.octicon-star-add:before,
.octicon-star-delete:before,
.octicon-star:before {
  content: '\f02a';
}
/*  */
.octicon-steps:before {
  content: '\f0c7';
}
/*  */
.octicon-stop:before {
  content: '\f08f';
}
/*  */
.octicon-repo-sync:before,
.octicon-sync:before {
  content: '\f087';
}
/*  */
.octicon-tag-remove:before,
.octicon-tag-add:before,
.octicon-tag:before {
  content: '\f015';
}
/*  */
.octicon-telescope:before {
  content: '\f088';
}
/*  */
.octicon-terminal:before {
  content: '\f0c8';
}
/*  */
.octicon-three-bars:before {
  content: '\f05e';
}
/*  */
.octicon-tools:before {
  content: '\f031';
}
/*  */
.octicon-trashcan:before {
  content: '\f0d0';
}
/*  */
.octicon-triangle-down:before {
  content: '\f05b';
}
/*  */
.octicon-triangle-left:before {
  content: '\f044';
}
/*  */
.octicon-triangle-right:before {
  content: '\f05a';
}
/*  */
.octicon-triangle-up:before {
  content: '\f0aa';
}
/*  */
.octicon-unfold:before {
  content: '\f039';
}
/*  */
.octicon-unmute:before {
  content: '\f0ba';
}
/*  */
.octicon-versions:before {
  content: '\f064';
}
/*  */
.octicon-remove-close:before,
.octicon-x:before {
  content: '\f081';
}
/*  */
.octicon-zap:before {
  content: '\26A1';
}
/* ⚡ */
