html{
    background: #dce4ea;
}
body{
    font-family: sans-serif;
    font-size: 80%;
}
#resourceEditor {
    /*padding-bottom: 30px;*/
}
#fixedNavigation{
    position: fixed;
    bottom: 0;
    left: 0;
    max-height: 27px;
    padding-bottom: 10px;
    position: fixed;
    z-index: 20;
    width: 100%;
    background-color: #303030;
    border-top: 1px solid #FFF;
    box-shadow: 2px 0px 3px 3px rgba(255, 255, 255, 0.7);
    color: white;
    transition: all 1s;
}
#fixedNavigation.open,
#fixedNavigation:hover {
    max-height: 200px;
    transition: all 1s;
}
#fixedNavigation p{
    margin-top: 5px;
}
#fixedNavigation > *{margin-left: 20px;}
#fixedNavigation label{font-weight: bold;}
#fixedNavigation a {
    color: #FFF;
    line-height: 18px;
    margin-right: 30px;
}
#fixedNavigation ul{
    padding: 0;
    margin: 0;
}
#fixedNavigation  label[for=menuNavigationTo],
#fixedNavigation  label[for=menuNavigationFrom] {float: left;}
#fixedNavigation  .menuNavigation li {float: left;margin-left: 30px;margin-bottom: 10px;}
#fixedNavigation .switchLink{margin-bottom: 20px;}
#fixedNavigation .clear{clear: both;}
a {
    text-decoration: underline;
    color: blue;
}
#resourceEditor #resourceBundleTable {
    margin-bottom: 70px;
}
#resourceEditor #titleText,
#resourceEditor #titleTextTranslation,
#resourceEditor .textField {
    height: 40px;
}
#resourceEditor .textField {
    width: 100%;
}
#resourceEditor  .sendSuccess {
    background-color: #7cfc00;
}
#resourceEditor  .updateKey {
    background-color: #ffff00;
}
#resourceEditor #titleKey,
#resourceEditor .keyField {
    width: 300px;
}
#resourceEditor .header{
    font-size: 14px;
    font-weight: bold;
}
#resourceEditor .header,
#resourceEditor #tableBody > div{
    display: inline-block;
    display: table;
    width: 100%;
}
#resourceEditor #tableBody > div{
    position: relative;
    padding-bottom: 60px;
}
#resourceEditor #tableBody .addNewKeyrow{
    position: absolute;
    bottom: 15px;
    left: 10px;
}
#resourceEditor #tableBody .addNewKeyrow{
    cursor: pointer;
}
#resourceEditor #tableBody .addNewKeyrow input{padding: 0 5px;margin-right: 20px;}
#resourceEditor #tableBody > div:nth-child(even) {
    background-color: rgba(49, 134, 0, 0.6);
}
#resourceEditor #tableBody h2{
    border-bottom: 1px solid #303030;
}
#resourceEditor .header .row,
#resourceEditor  .row{
    display: table-row;
}
#resourceEditor .header .row > div,
#resourceEditor .row > div{
    display: table-cell;
    padding: 5px;
    vertical-align: middle;
}
#resourceEditor .row .data.key {
    width:300px;
}
#resourceEditor .row:nth-child(odd) {
    background-color: rgba(211, 211, 211, 0.5);
}
#fileManager .switchLink{display: block;}