.translationView-projectCategory.overlayWindow(canny-mod='translationView whisker', canny-var='cloneKeyOverlay', canny-whisker="canny.translationView.registerWhisker")
  h2 Copy
  p
    | key
    span.highlighted &nbsp;{{cloneKeyOverlayText.keyName}}&nbsp;
    | from category
    span.highlighted &nbsp;{{cloneKeyOverlayText.categoryName}}&nbsp;
    | to category:
  .inputWrap.octicon.octicon-file-symlink-file
    input.blue.inputField.category(canny-mod='translationView', canny-var='cloneKeyInputCategory', placeholder='Category name')
    .inputWrap-row
      button.blue.button(canny-mod='translationView', canny-var='cloneKeyButtonSubmit') Clone
      button.red.button(canny-mod='translationView', canny-var='cancel', data-view='translationViewCloneKey') close