.createNewProjectView.overlayWindow
  h2 Create a new directory
  // <label class="octicon octicon-puzzle">Which name has the category</label>
  .inputWrap.octicon.octicon-file-directory
    input.inputField.category(canny-mod='createNewProject', canny-var='newDirectoryNameInput', placeholder='enter the directory name')
    button.button(canny-mod='createNewProject', canny-var='createNewDirectorySubmit') Create directory
  p
    | A new directory can hold other subdirectories or projects.

