.translationView-projectCategory.overlayWindow
  h2 Create a new category
  .inputWrap.octicon.octicon-puzzle
    input.green.inputField.category(canny-mod='translationView', canny-var='projectInputCategory', placeholder='enter category name')
  .inputWrap.octicon.octicon-key
    input.green.inputField.key(canny-mod='translationView', canny-var='projectInputKey', placeholder='enter a key')
    .inputWrap-row
      button.green.button(canny-mod='translationView', canny-var='projectSubmit') create category
      button.red.button(canny-mod='translationView', canny-var='cancel', data-view='translationViewProjectCategoryKey') close
  p Please add also a key. Categories can't exists without keys!