.upload.overlayWindow
  .dropWrap.octicon.octicon-beaker
    label.headline.dropzone-label(for="dropzone", id="dropzone-label") Drag and drop your json bundle here
    input(canny-mod="JsonImport", canny-var="fileInput", id="dropzone", multiple="", directory="", class="dropzone-input", type="file", name="filedrag", accept="*/*")