.upload.overlayWindow
  .dropWrap.octicon.octicon-cloud-upload
    label.headline.dropzone-label(for="dropzone", id="dropzone-label") Drag and drop your file to begin uploading
    input(canny-mod="upload", canny-var="fileInput", id="dropzone", multiple="", directory="", class="dropzone-input", type="file", name="filedrag", accept="*/*")