.createNewProjectView.overlayWindow
  h2 Create a new project
  // <label class="octicon octicon-puzzle">Which name has the category</label>
  .inputWrap.octicon.octicon-bug
    input.inputField.category(canny-mod='createNewProject', canny-var='createNewProjectInputProject', placeholder='enter the project name')
  .button(canny-mod='createNewProject', canny-var='createNewProjectSubmit') Create project
  p
    | A project name could be a translation task number. Or ask your developer
    | for a technical specific name.

