doctype html
html
  head
    title Resource bundle manager
    link(rel='stylesheet', type='text/css', href='/dist/css/translatron.css')
    script(type='text/javascript', src='/dist/js/translatron.js')
    script(type='text/javascript', src='/dist/animatedSVG/js/snap.svg-min.js')
    script(type='text/javascript', src='/dist/animatedSVG/js/svgicons.js')
  body(canny-mod='whisker', canny-var='canny.texts.getTexts')
    header.header
      block breadcrumbTrail
        include breadcrumb
        div(style='display: none', canny-mod='displayManager', canny-displaymanager="{'view':'resourceBundle'}")
          span.projectName.octicon.octicon-file-code {{msg.projectName}}
        div.auth-logout-btn.octicon.octicon-sign-out(canny-mod='auth', canny-var="logoutButton", title="logout")


    #resourceEditor
      #resourceBundleTable(style='display: none', canny-mod='displayManager', canny-displaymanager="{'view':'resourceBundle'}")
        include projectView

    div(canny-mod="displayManager", canny-displaymanager="{'view':'projectsOverview'}")
      include projectOverview

    #debugIncomming

    .projectMainNavigation(style='display: none',canny-mod='projectMainNavigation displayManager', canny-var='main', canny-displaymanager="{'view':'resourceBundle'}")
      .menuToggleButton.si-icon.si-icon-hamburger-cross(data-icon-name='hamburgerCross', canny-mod='projectMainNavigation', canny-var='menuToggleButton')
      .projectMainNavigation--header
        span {{msg.projectName}}
      include menuBar

    .menuRight(style='display: none',canny-mod='menuRight displayManager', canny-var='main', canny-displaymanager="{'view':'resourceBundle'}")
      .anchorMenu(canny-mod="anchorMenu")

    div(style='display: none', canny-mod='displayManager', canny-var="{'overlay':'translationViewProjectCategoryKey'}")
      include createNewCategory

    div(style='display: none', canny-mod='displayManager', canny-var="{'overlay':'createNewProjectView'}")
      include createNewProject

    div(style='display: none', canny-mod='displayManager', canny-var="{'overlay':'createNewDirectoryView'}")
      include createNewDirectory

    div(style='display: none', canny-mod='displayManager', canny-var="{'overlay':'uploadView'}")
      include upload

    footer.footer
      a(href='https://confluence.gameduell.de/display/DEV/Translation+Tool', target='_blank') About
      a(href='https://github.com/gameduell/translatron', target='_blank') Github

    include templates

