.upload.overlayWindow
  .dropWrap.octicon.octicon-hubot
    label.headline.dropzone-label(for="dropzone", id="dropzone-label") Drag and drop your message bundle in here
    input(canny-mod="JMBFUploader", canny-var="fileInput", id="dropzone", multiple="", directory="", class="dropzone-input", type="file", name="filedrag", accept="*/*")