doctype html
html.login
  head
    title Translatron login
    link(rel='stylesheet', type='text/css', href='/dist/css/translatron.css')
    link(rel='stylesheet', href='/bower_components/octicons/octicons/octicons.css')
    script(type='text/javascript', src='/dist/animatedSVG/js/snap.svg-min.js')
    script(type='text/javascript', src='/dist/animatedSVG/js/svgicons.js')
    script(type='text/javascript', src='/dist/js/translatron-login.js')

  body.login
    main
      section
        h1 Hey, welcome to Translatron
        h3 But sorry...
        p You are not logged in. Please login with your LDAP credentials.

        form(name='login', action='/login', method='POST')

            input.inputField(type='text', name='username', placeholder="Enter name")

            input.inputField(type='password', name='password', placeholder="Enter password")

            input.inputField(canny-mod="loginAnchor")

            button.button.octicon.octicon-sign-in(type='submit') let me in