//
   Created by tfru on 13.01.16.

extends ./template.jade

link(rel='stylesheet', type='text/css', href='/dist/css/translatron.css')
block pageContent
  div.projectOverviewContainer
    h1
      | Create & find a project
    div.projectsList
      | lkjsdfjks
    div.projectsListButtons
      div
        span.projectsListActionButton
          | Create project
        span.projectsListActionButton
          | Create folder


