//
   Created by tfru on 13.01.16.

extends ./template.jade

block pageContent
  .projectOverviewContainer(canny-mod="projectOverview")
    h1 Create & find a project
    .projectsList
      ul(canny-mod="repeat" canny-var="{'for':'item','in':'canny.projectOverview.setRenderProjectsAndDirectoriesListFunction'}")
        li(on-click="item.openProjectListItem") [{{item.type}}] {{item.name}}
    .projectsListButtons
        button.projectsListActionButton.createProjectButton Create project
        button.projectsListActionButton.createFolderButton Create folder


