.projectOverview(canny-mod="projectOverview")
  h1 Project overview
  .projectOverview-list
    .projectOverview-back-btn.octicon.octicon-mail-reply.js-selectParentDirectoryButton(title="show parent directory")
    table
      tbody(canny-mod="repeat" canny-var="{'for':'item','in':'canny.projectOverview.setRenderProjectsAndDirectoriesListFunction'}")
        tr(if="item.dir")
          td(on-click="item.openProjectListItem", title="Open directory", colspan="2").octicon.octicon-file-directory {{item.name}}
        tr(if-not="item.dir", data-project="{{item.name}}")
          td(on-click="item.openProjectListItem", title="Open '{{item.name}}' project").octicon.octicon-file-code {{item.name}}
          td(on-click="item.deleteProjectListItem").deleteButton.octicon.octicon-trashcan

  .projectOverview-buttons
      button.button.js-createFolderButton.octicon.octicon-file-directory Create folder
      button.button.js-createProjectButton.octicon.octicon-file-code Create project
      button.button.js-toggleEditModeButton.octicon.octicon-pencil Edit

  // remove this if we can go live
  div(style="margin-top:3em")
    p(style="color: #ee0000;font-size:200%;") You are using the new translation tool!
    p The old translation tool is still available
      a(href="http://translation.office.gameduell.de:8000") here