.projectOverview(canny-mod="projectOverview")
  h1 Project overview
  .projectOverview-list
    .projectOverview-back-btn.octicon.octicon-mail-reply.js-selectParentDirectoryButton(title="show parent directory")
    ul(canny-mod="repeat" canny-var="{'for':'item','in':'canny.projectOverview.setRenderProjectsAndDirectoriesListFunction'}")
      li.octicon.octicon-file-directory(if="item.dir", on-click="item.openProjectListItem", title="Open directory") {{item.name}}
      li.octicon.octicon-file-code(if-not="item.dir", on-click="item.openProjectListItem", title="Open '{{item.name}}' project") {{item.name}}
  .projectOverview-buttons
      button.button.js-createFolderButton.octicon.octicon-file-directory Create folder
      button.button.js-createProjectButton.octicon.octicon-file-code Create project

  // remove this if we can go live
  div(style="margin-top:3em")
    p(style="color: #ee0000;font-size:200%;") This is the new translation tool!
    p The old translation tool is still available
      a(href="http://translation.office.gameduell.de:8000") here