div(id="templates", style="display:none;")
  .categoryNode
    h2.icon.octicon.octicon-tag
    .addNewKeyrow
      label
      input(type="text", placeholder="Add new key to this category")
      button.button.addKeyButton.octicon.octicon-key
    .categoryNode-description.js-cat-description
