div(id="templates", style="display:none;")
  div(class="categoryNode")
    h2(class="icon octicon octicon-tag")
    div(class="addNewKeyrow")
      label
      input(type="text", placeholder="Add new key to this category")
      button(class="button addKeyButton octicon octicon-key")
