div(id="templates", style="display:none;")
  .categoryNode
    .headlineWrapper
      h2.icon.octicon.octicon-tag.displayData
    .categoryNode-description.js-cat-description
    .imageUpload-wrap
      .imageUpload-imageBox.js-imageUpload-box
      .imageUpload-editButton.js-imageUpload-editButton
    .keysWrapper
    .footerWrapper
      .overallWordCountWrapper.row
        .translationContainer
      .addNewKeyrow
        label
        input(type="text", placeholder="Add new key to this category")
        button.button.addKeyButton.octicon.octicon-key
